[Desktop Entry]
Type=Application
Name=Instacrypt
Comment=Post Quantum Ready File Encryption
Exec=ic_app %u
Icon=io.github.instacryptio.ic-app
Terminal=false
Categories=Utility;
MimeType=x-scheme-handler/instacrypt;
